<h1>Atualizar Lista</h1>

<%= render "form", list: @list %>

<br>

<div class="ml-4">
  <%= button_to "Show this list", @list, class: "btn btn-primary mb-2", method: :get %>
  <%= button_to "Back to lists", lists_path, class: "btn btn-success", method: :get %>
</div>
