<div id="<%= dom_id item %>">
  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>List:</strong>
    <%= item.list_id %>
  </p>

  <p>
    <strong>Checked:</strong>
    <%= item.checked %>
  </p>

</div>
