/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.no-spinner {
    -moz-appearance: textfield;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.item-description.checked {
    text-decoration: line-through;
    color: #6c757d;
}

.status-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 24px;
    z-index: 10;
}

.text-success {
    color: #28a745;
}

.text-danger {
    color: #dc3545;
}

.flash-notice {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
    font-size: 16px;
    position: relative;
    z-index: 1000;
}

.flash-alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
    font-size: 16px;
    position: relative;
    z-index: 1000;
    position: relative;
}

.category-todo {
    background-color: #add8e6;
}

.category-compras {
    background-color: #ffa500;
}

.category-desejos {
    background-color: #ff00ff;
}

.category-filmes {
    background-color: #00008b;
    color: #ffffff;
}

.category-filmes .text-muted {
    color: white !important;
}

.category-livros {
    background-color: #90ee90;
}

.category-musica {
    background-color: #ff6347;
}

.category-jogos {
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.category-outros {
    background-color: #d3d3d3;
}

.card-link {
    text-decoration: none;
    display: block;
}

.card {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card-body {
    text-align: left;
}

.transition-container {
    width: 200%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.auth-form {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.modal-body {
    overflow: hidden;
}

.card-cadastro {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card-items {
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

